@font-face{
	font-family: 'My Font';
	src: url('connection.otf') format('opentype');
	text-align: center;
	font-weight: 1000;
}

body {
	font-family: 'My Font'; 
	background: black;
	/*this name should match the font-face rule you set up*/
}