@font-face {
    font-family: 'My Font';
    src: url('connection.otf') format('opentype');
    font-weight: 400;
}

body {
    font-family: 'My Font';
    background: beige;
    text-align: center;
}

a {
    color: initial; 
    text-decoration: none; 
}

a:hover {
    color: inherit; 
    text-decoration: underline; 
}
