body {
    font-family: ABC Social Unlicensed Trial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.poster {
    text-align: center;
}

svg {
    width: 300px;
    height: 300px;
    margin: auto;
}

.text {
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
}

p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}

