body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    transition: background-color 0.5s ease; /* 부드러운 배경색 변화 */
}

.poster {
    text-align: center;
}

svg {
    width: 300px;
    height: 300px;
    margin: auto;
    cursor: pointer;
    transition: transform 0.5s ease; /* 부드러운 회전 효과 */
}

svg:hover {
    transform: skew(60deg); /* 한 바퀴 회전 */
}

.circle {
    stroke-width: 5;
    fill: none;
    transition: stroke 0.5s ease; /* 부드러운 색상 변화 효과 */
}
